body {
    padding:0 .62em;
    font:1.2em/1.62 monospace;
    max-width:40em;
    margin:1em auto;
    font-size: 14px;
}
h1 {
  font-size: 34px;
  letter-spacing: 0.25px;
  line-height: 1.5;
}
h2 {
  font-size: 24px;
  line-height: 1.2;
}
h3 {
  line-height: 1.2;
}
pre.example {
  font: 18px/1.5 monospace;
}
